@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(0, 153, 51, 0.3) 0%, white 50%, rgba(0, 153, 51, 0.3) 100%);
  font-family: "Roboto", sans-serif;
}

nav.felso-navbar {
  display: flex;
  background: rgba(51, 51, 255, 0.6);
  height: 50px;
}
nav.felso-navbar .home-left {
  margin: 8px 0 0 20px;
  font-size: 30px;
}
nav.felso-navbar .home-left a {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
}
nav.felso-navbar .home-left a:hover {
  color: rgba(255, 255, 255, 0.7);
}
nav.felso-navbar .felso-navbar-cim {
  margin: 10px auto;
}
nav.felso-navbar .felso-navbar-cim h1 {
  color: #fff;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
nav.felso-navbar .open-slide {
  padding: 11px 10px 0 0;
}

nav.navbar {
  display: flex;
  justify-content: center;
  background: #3333ff;
  height: 80px;
}
nav.navbar a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 30px 16px;
}
nav.navbar a:hover {
  background: rgba(0, 0, 0, 0.1);
}
nav.navbar ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 30px auto;
}
nav.navbar ul li.has-submenu {
  position: relative;
}
nav.navbar ul li.has-submenu:hover ul {
  display: block;
}
nav.navbar ul li ul {
  position: absolute;
  z-index: 6;
  display: none;
  background: darkblue;
  margin-top: 30px;
  border-radius: 0 0 20px 20px;
}
nav.navbar ul li ul li {
  width: 190px;
  margin: 0;
}
nav.navbar ul li ul li a {
  padding: 14px 16px;
  display: block;
  margin: 0;
  font-size: 15px;
}
nav.navbar ul::after {
  content: "";
  clear: both;
  display: table;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
}
.side-nav li a span {
  position: absolute;
  transform: translate(4px, 5px);
}
.side-nav ul {
  display: none;
  background-color: #fff;
}
.side-nav ul.show {
  display: block;
}
.side-nav ul li {
  text-align: center;
}
.side-nav ul li a {
  color: #000;
}
.side-nav ul li a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
}
.side-nav a:hover {
  color: #fff;
}
.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 40px;
}

ul.show {
  width: 255px;
}

.hide-sidenav {
  display: none;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.kiiratas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 150px;
  transition: margin-left 0.5s;
}
.kiiratas p {
  font-size: 25px;
  text-align: center;
  font-family: "Coda", cursive;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.kiiratas p span {
  text-decoration: underline;
  text-decoration-style: double;
}

.left-content {
  width: 100%;
  max-width: 100%;
  padding: 4% 0 0 0;
}

.center-content {
  width: 100%;
  max-width: 100%;
  padding: 10% 0 0 0;
}

.right-content {
  width: 100%;
  max-width: 100%;
  padding: 11% 0 0 0;
}

.video {
  position: absolute;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  background: #009933;
  background: linear-gradient(90deg, rgba(0, 153, 51, 0.3) 0%, white 50%, rgba(0, 153, 51, 0.3) 100%);
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 6;
  bottom: 0;
  position: fixed;
  height: 80px;
  background: #404040;
  width: 100%;
  color: #fff;
}

footer p {
  padding: 30px 0 0 0;
  text-shadow: 2px 2px 3px #bfbfbf;
}

@media (min-width: 890px) {
  .open-slide {
    display: none;
  }

  .side-nav {
    display: none;
  }
}
@media (max-width: 890px) {
  .kiiratas {
    flex-wrap: wrap;
  }

  nav.felso-navbar {
    justify-content: flex-end;
  }
  nav.felso-navbar .felso-navbar-cim h1 {
    display: none;
  }

  nav.navbar {
    display: none;
  }

  .left-content {
    border: none !important;
  }

  .center-content {
    border: none !important;
  }

  .hide-sidenav {
    display: block;
  }

  .video video {
    height: 576px;
  }
}

/*# sourceMappingURL=style.css.map */
