nav.felso-navbar {
  display: flex;
  justify-content: center;
  background: $felso-navbar-background;
  height: 50px;

  .felso-navbar-cim {
    margin: 10px 0;

    h1 {
      color: #fff;
      font-weight: 900;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }
  }

  .open-slide{
    padding: 11px 10px 0 0;
  }
}
