
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    li{
        a{
            span{
                position: absolute;
                transform: translate(4px, 5px);
            }
        }
    }

    ul {
        display: none;
        background-color: #fff;

        &.show{
            display: block;
        }

        li{
            text-align: center;

            a{
                color: #000;

                &:hover{
                    color: rgba(0,0,0,.8);
                }
            }
        }
    }

    a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: #ccc;
        display: block;
        transition: 0.3s;

        &:hover{
            color: #fff;
        }
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 40px;
    }
}