@import "config";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $body-background;

  font-family: $font-stack;
}

@import "felso-navbar";

nav.navbar {
  display: flex;
  justify-content: center;
  background: $nav-background;
  height: 80px;

  a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 30px 16px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  ul {
    li {
      display: block;
      float: left;
      list-style: none;
      margin: 30px auto;

      &.has-submenu {
        position: relative;
      }
      &.has-submenu:hover {
        ul {
          display: block;
        }
      }

      ul {
        position: absolute;
        z-index: 6;
        display: none;
        background: $submenu-background;
        margin-top: 30px;
        border-radius: 0 0 20px 20px;

        li {
          width: 190px;
          margin: 0;

          a {
            padding: 14px 16px;
            display: block;
            margin: 0;
            font-size: 15px;
          }
        }
      }
    }
  }

  ul::after {
    content: "";
    clear: both;
    display: table;
  }
}

@import "side-nav";

.kiiratas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 150px;
  transition: margin-left 0.5s;

  p{
    font-size: 25px;
    text-align: center;
    font-family: $font-stack-kiiratas;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

    span{
      text-decoration: underline;
      text-decoration-style: double;
    }
  }
}
.left-content {
  width: 100%;
  max-width: 100%;
  padding: 4% 0 0 0;
}
.center-content {
  width: 100%;
  max-width: 100%;
  padding: 10% 0 0 0;
}
.right-content {
  width: 100%;
  max-width: 100%;
  padding: 11% 0 0 0;
}

.video{
  position: absolute;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  background: rgb(0,153,51);
  background: $body-background;
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 6;
  bottom: 0;
  position: fixed;
  height: 80px;
  background: #404040;
  width: 100%;
  color: #fff;
}
footer p {
  padding: 30px 0 0 0;
  text-shadow: 2px 2px 3px #bfbfbf;
}

@import "media-queries";